<!---
/************************************************************************************
 *  WEB322 – Project (Fall 2021)
 *  I declare that this assignment is my own work in accordance with Seneca Academic
 *  Policy. No part of this assignment has been copied manually or electronically from
 *  any other source (including web sites) or distributed to other students.
 * Name: Victor Lozano Alonso
 * Student ID: 130720204
 * Course/Section: WEB322 ZAA
 ************************************************************************************/
 --->
<section class="featured-info">
    <h2 class="py-3">What we offer...</h2>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
            <div class="col text-center">
                <img src="/images/easy-menu.jpg" class="img-fluid rounded-pill" alt="easy menu">
                <h3 class="fs-5 fw-bold mt-3">Easy Recipes</h3>
                <p>Don't waste your time in the routine of the everyday meal. We do for you.</p>
            </div>
            <div class="col text-center">
                <img src="/images/menu-options.jpg" class="img-fluid rounded-pill" alt="menu options">
                <h3 class="fs-5 fw-bold mt-3">We have your Menu</h3>
                <p>Tons of menu options for any preference of every person. Take a look!</p>
            </div>
            <div class="col text-center">
                <img src="/images/food-delivery.jpg" class="img-fluid rounded-pill" alt="food delivery">
                <h3 class="fs-5 fw-bold mt-3">We put it on your kitchen</h3>
                <p>You decide the menu and we do the rest. We will carry all you need until your kitchen.</p>
            </div>
            <div class="col text-center">
                <img src="/images/easy-recipes.jpg" class="img-fluid rounded-pill" alt="easy recipes">
                <h3 class="fs-5 fw-bold mt-3">Easy cooking step-by-step</h3>
                <p>We know you are not a Master Chef. Our recipes include detailed steps to prepare the best meal.</p>
            </div>
        </div>
    </div>
</section>