<!---
/************************************************************************************
 *  WEB322 – Project (Fall 2021)
 *  I declare that this assignment is my own work in accordance with Seneca Academic
 *  Policy. No part of this assignment has been copied manually or electronically from
 *  any other source (including web sites) or distributed to other students.
 * Name: Victor Lozano Alonso
 * Student ID: 130720204
 * Course/Section: WEB322 ZAA
 ************************************************************************************/
 --->
<footer>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2">
            <div class="col">
                <div class="footer-menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/on-the-menu">On the menu</a></li>
                        <li><a href="/sign-up">Sign-up</a></li>
                        <li><a href="/login">Login</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="info">
                    <ul>
                        <li>email: vlozano-alonso@myseneca.ca</li>
                        <li>Follow us:
                            <ul class="social-media">
                                <li><a href="#"><i class="fab fa-twitter"></a></i></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">Copyright© Fall 2021, Victor Lozano Alonso, WEB322 ZAA</div>
</footer>