<!---
/************************************************************************************
 *  WEB322 – Project (Fall 2021)
 *  I declare that this assignment is my own work in accordance with Seneca Academic
 *  Policy. No part of this assignment has been copied manually or electronically from
 *  any other source (including web sites) or distributed to other students.
 * Name: Victor Lozano Alonso
 * Student ID: 130720204
 * Course/Section: WEB322 ZAA
 ************************************************************************************/
 --->
<header>
    <div class="logo">
        <a href="/">
            <img src="/images/logoWhite.png" class="img-fluid" alt="fast recipe logo" />
        </a>
    </div>
    <div class="menu">
        <nav class="navbar navbar-dark bg-red-500 navbar-expand-md">
            <div class="container-fluid flex-row-reverse">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="menu-items">
                        <li><a href="/">Home</a></li>
                        <li><a href="/on-the-menu">On the menu</a></li>
                    </ul>
                    <div class="sign-up"><a href="/sign-up">Sign-up</a></div>
                    <div class="login"><a href="/login">Login</a></div>
                </div>
            </div>
        </nav>
    </div>
</header>