<!---
/************************************************************************************
 *  WEB322 – Project (Fall 2021)
 *  I declare that this assignment is my own work in accordance with Seneca Academic
 *  Policy. No part of this assignment has been copied manually or electronically from
 *  any other source (including web sites) or distributed to other students.
 * Name: Victor Lozano Alonso
 * Student ID: 130720204
 * Course/Section: WEB322 ZAA
 ************************************************************************************/
 --->
<form action="/login" method="POST">
    <div class="row mb-3">
        <div class="col">
            <input class="form-control mt-3" type="text" name="email" id="email" placeholder="Email Address" value="{{values.email}}"
                tabindex="1">
            {{#if validation.email}}
                <p class="text-light fst-italic text-start"><small>{{validation.email}}</small></p>
            {{/if}}
            <input class="form-control mt-3" type="password" name="password" id="password" placeholder="Password" value="{{values.password}}"
                tabindex="2">
            {{#if validation.password}}
                <p class="text-light fst-italic text-start"><small>{{validation.password}}</small></p>
            {{/if}}
            <div class="d-grid gap-2">
                <input class="btn mt-3" type="submit" value="Log in" name="submit" id="submit" tabindex="3">
            </div>
        </div>
    </div>
</form>