<!---
/************************************************************************************
 *  WEB322 – Project (Fall 2021)
 *  I declare that this assignment is my own work in accordance with Seneca Academic
 *  Policy. No part of this assignment has been copied manually or electronically from
 *  any other source (including web sites) or distributed to other students.
 * Name: Victor Lozano Alonso
 * Student ID: 130720204
 * Course/Section: WEB322 ZAA
 ************************************************************************************/
 --->
<h2 class="mt-3">Hi! {{user.fName}} {{user.lName}} to Clerk Dashboard</h2>
<p class="mt-4 p-3"><strong>Manage the catalog:</strong></p>
<div class="d-inline-flex p-2 bd-highlight mb-4 p-3">
        <button type="button" class="btn btn-success ms-2 me-2">Add Meal Kit</button>
        <button type="button" class="btn btn-primary ms-2 me-2">Update Meal Kit</button>
        <button type="button" class="btn btn-danger ms-2 me-2">Remove Meal Kit</button>
</div>