<!---
/************************************************************************************
 *  WEB322 – Project (Fall 2021)
 *  I declare that this assignment is my own work in accordance with Seneca Academic
 *  Policy. No part of this assignment has been copied manually or electronically from
 *  any other source (including web sites) or distributed to other students.
 * Name: Victor Lozano Alonso
 * Student ID: 130720204
 * Course/Section: WEB322 ZAA
 ************************************************************************************/
 --->
 <h2 class="mt-3">Hi! {{user.fName}} {{user.lName}} to Customer Dashboard</h2>
<div class="mt-4 mb-4 p-3">
<p><strong>Hurry up!</strong> Does not waste time and add some of our top meal kits to the cart</p>
</div>
{{>topmeals}}