/************************************************************************************
 *  WEB322 – Project (Fall 2021)
 *  I declare that this assignment is my own work in accordance with Seneca Academic
 *  Policy. No part of this assignment has been copied manually or electronically from
 *  any other source (including web sites) or distributed to other students.
 * Name: Victor Lozano Alonso
 * Student ID: 130720204
 * Course/Section: WEB322 ZAA
 ************************************************************************************/

/* CSS HEX Created by coolors.co */
:root{
    --prussian-blue: #003049ff;
    --maximum-red: #d62828ff;
    --orange: #f77f00ff;
    --maximum-yellow-red: #fcbf49ff;
    --lemon-meringue: #eae2b7ff;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0 30px;
    box-shadow: 0px 0px 3px 0px #d3d0d0;
}
header{
    display: flex;
    flex-direction: row;
    background-color: var(--maximum-red);
}
h2{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
}
/* Header */
.logo{
    max-width: 25%;
    align-self: center;
    padding: 5px 0;
}
.logo img{
    padding: 0 20px;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 0;
}
.menu-items{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    color: #ffffff;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.menu-items li a{
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
}
.menu-items li a:hover, .sign-up a:hover{
    background-color: var(--lemon-meringue);
    color: var(--prussian-blue);
    border-radius: 3px;
}
.sign-up a{
    text-decoration: none;
    color: var(--lemon-meringue);
    font-weight: bold;
    padding: 10px 15px;
    margin-left: 20px;
    margin-right: 10px;
}
.logout {
    font-size: 0.8rem;
}
.login a, .logout a{
    text-decoration: none;
    color: var(--lemon-meringue);
    font-weight: bold;
    background-color: var(--prussian-blue);
    padding: 10px 20px;
    border-radius: 20px;
}
.login a:hover, .logout a:hover{
    background-color: var(--lemon-meringue);
    color: var(--prussian-blue);
}
.user{
    color: #fff;
    font-weight: bold;
    font-style: italic;
    font-size: 0.8rem;
    text-decoration: none;
    padding: 0 20px;
}
.user a{
    color: #ffffff;
}
.user a:hover{
    text-decoration: underline;
}
.cart, .cart a{
    text-align: center;
    text-decoration: none;
    font-size: 0.8rem;
    align-items: center;
    padding: 0 7px;
    color: #fff;
}
.cart a:hover{
    text-decoration: underline;
}
.cart i{
    font-size: 1rem;
}
/* Home Content */
.hero img{
    width: 100%;
}
.featured-info{
    padding: 20px 0;
}
.top-meals{
    background-color: var(--lemon-meringue);
    padding: 15px;
}
/* On the menu */
.price{
    float: right;
    border: 1px solid #1e1e1e;
    padding: 5px 10px;
    margin-top: 15px;
    background-color: var(--prussian-blue);
    color: #fff;
}
.meals-kit{
    padding: 30px 0px;
}
.col a{
    text-decoration: none;
    color: var(--prussian-blue);
}
.col a:hover{
    text-decoration: underline;
}
/*Sign Up */
.signup-form, .login-form{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    max-width: 60%;
    background-color:  var(--maximum-red);
    text-align: center;
    padding-top: 10px;
    margin: 30px auto;
}
input, input :focus-visible{
    border: 1px solid var(--maximum-red) !important;
    height: 60px;
}
.col .btn{
    background-color: var(--prussian-blue);
    font-weight: bold;
    color: #ffffff;
}
.col .btn:hover{
    color: var(--lemon-meringue);
}
/* Add-Form */
.add-meal, .update-meal{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add-form, .update-form{
    width: 70%;
    border: 1px solid var(--bs-danger);
    background: var(--bs-danger);
    border-radius: 15px;
    box-shadow: 0px 1px 4px 1px #888;
    margin: 20px 0;
}
.update-meals{
    border: 1px solid var(--prussian-blue);
    width: 80%;
    margin: 0 auto;
}
.img-meal-detail{
    object-fit: cover;
    height: 500px;
}
/* Footer */
footer{
    background-color: var(--prussian-blue);
}
.footer-menu ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-around;
    padding: 20px 40px;
    margin: 0;
}
.footer-menu ul li {
    padding: 5px 0;
}
.footer-menu ul li a{
    color: #ffffff;
    text-decoration: none;
}
.footer-menu ul li a:hover{
    text-decoration: underline;
}
.info, .info a{
    color: #ffffff;
}
.info a:hover{
    color: var(--lemon-meringue);
}
.info ul{
    list-style: none;
}
.info ul li{
    padding: 10px 0;
}
.info ul.social-media{
    display: flex;
    flex-direction: row;
    padding: 0;
}
.info ul.social-media li{
    padding: 10px;
}
.info ul.social-media li a i{
    font-size: 2rem;
}
.copyright{
    font-style: italic;
    color: #ffffff;
    grid-row-start: 2; 
    grid-row-end: 2; 
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 10px;
}
/* Responsive */
@media screen and (max-width: 767px) {
    .logo{
        max-width: 40%;
    }
    .menu-items{
        flex-direction: column;
        align-items: flex-end;
        padding: 5px 0;
    }
    .menu-items li{
        display: flex;
        margin-top: 5px;
    }
    .menu-items li a{
        padding: 5px;
    }
    .sign-up, .login, .logout{
        padding: 0;
        display: flex;
        justify-content: flex-end;
    }
    .login, .logout{
        margin-right: 3px;
    }
    .sign-up a{
        padding: 5px 10px;
        margin: 5px 0;
    }
    .login a, .logout a{
        padding: 5px 15px;
    }
    .signup-form, .login-form{
        max-width: 80%;
    }
    .user {
        text-align: right;
        padding: 15px 0;
    }
    .add-form, .update-form{
        width: 80%;
    }
    .img-meal-detail{
        object-fit: cover;
        height: auto;
    }
    .d-flex{
        flex-direction: column;
    }
    .cart {
        text-align: right;
        padding: 10px 0;
    }
    .table tr td{
        font-size: 0.8rem;
    }
}