<!---
/************************************************************************************
 *  WEB322 – Project (Fall 2021)
 *  I declare that this assignment is my own work in accordance with Seneca Academic
 *  Policy. No part of this assignment has been copied manually or electronically from
 *  any other source (including web sites) or distributed to other students.
 * Name: Victor Lozano Alonso
 * Student ID: 130720204
 * Course/Section: WEB322 ZAA
 ************************************************************************************/
 --->

<h1 class="text-center">Welcome to fastRecipe</h1>
<section class="container">
    <p>In fastRecipe care every detail. We elaborate our meal kits combininig a balance nutrients and vitamins.</p>
    <p>Also, we will give you all you need to cook delicious recipes in easy way.</p>
    <p>Order your first kit, we will do the rest.</p>
    <p>Let start with our:</p>
{{>topmeals}}
</section>