<!---
/************************************************************************************
 *  WEB322 – Project (Fall 2021)
 *  I declare that this assignment is my own work in accordance with Seneca Academic
 *  Policy. No part of this assignment has been copied manually or electronically from
 *  any other source (including web sites) or distributed to other students.
 * Name: Victor Lozano Alonso
 * Student ID: 130720204
 * Course/Section: WEB322 ZAA
 ************************************************************************************/
 --->
<div class="add-meal">
    {{#if message}}
    <h2 class="mt-5">{{message}}</h2>
    {{else}}
    <h2 class="mt-5">Adding a New Meal Kit</h2>
    {{/if}}
    <div class="add-form">
        <div class="container mt-4 px-5">
            <div class="row justify-content-md-center">
                {{>add-form}}
            </div>
        </div>
    </div>
</div>