<!---
/************************************************************************************
 *  WEB322 – Project (Fall 2021)
 *  I declare that this assignment is my own work in accordance with Seneca Academic
 *  Policy. No part of this assignment has been copied manually or electronically from
 *  any other source (including web sites) or distributed to other students.
 * Name: Victor Lozano Alonso
 * Student ID: 130720204
 * Course/Section: WEB322 ZAA
 ************************************************************************************/
 --->
 {{#each data}}
<div class="update-meals">
<form action="update-meals" method="post">
    <input type="hidden" name="id" value="{{_id}}" />
    <div class="container">
        <div class="row mt-4">
            <div class="col-sm">
                <p><strong>{{mealName}}</strong></p>
            </div>
            <div class="col-sm">
                <button class="btn btn-primary mb-4" type="submit">Update</button>
            </div>
        </div>
    </div>
</form>
</div>
{{/each}}